<div class="about">
  <div class="title_wrapper"><span class="title">о компании</span></div>
  <div class="description section">Компания «Подольский оконный завод» – крупная компания, которая работает 15 лет и каждый год развивает современные технологии производства и сервиса. Мы производим и устанавливаем оконные системы любой сложности. Свое производство пластиковых окон позволяет нам гарантировать качество на всех этапах изготовления и уменьшать стоимость изделий. Наши производственные мощности находятся в Чехове, а головной офис расположен в Подольске. Завод оснащен немецким, итальянским и венгерским оборудованием. Индивидуальный подход к каждому клиенту для нас не просто слова, а стиль нашей работы. Наши менеджеры подбирают лучшие по цене и качеству варианты остекления, основываясь на потребностях и пожеланиях клиентов.</div>

  <div class="tab_section">
    <div class="tab_section__tab_container">
      <div class="tab_section__tab active" data-tab="all_products">Все</div>
      <div class="tab_section__tab" data-tab="cold_all">Холодный алюминий</div>
      <div class="tab_section__tab" data-tab="hot_all">Теплый алюминий</div>
      <div class="tab_section__tab" data-tab="facade_sus">Фасадные системы</div>
    </div>

    <div class="tab_section__content">
      <div class="tab_section__content_tab all_products_tab active">
        <div class="product_wrapper">
          <div class="product_slider">
            <div class="product">
              <span class="product__title title">Алютекс ALT</span>
              <div class="img_box product__img">
                <img src="./img/product-example-3.png" alt="" class="fit">
              </div>
              
              <div class="product__sizes">
                <div class="size"><span>Воздушных камер</span> <span>4 мм</span></div>
                <div class="size"><span>Толщина стекла</span> <span>26 мм</span></div>
                <div class="size"><span>Глубина</span> <span>32 мм</span></div>
              </div>
              <div class="img_box product__img">
                <img src="./img/product-example-4.png" alt="" class="fit">
              </div>
              <div class="product__price">от 226 руб</div>
              <a href="#" class="product__link">Подробнее</a>
            </div>
            <div class="product">
              <span class="product__title title">Алютекс ALT</span>
              <div class="img_box product__img">
                <img src="./img/product-example-2.png" alt="" class="fit">
              </div>
              
              <div class="product__sizes">
                <div class="size"><span>Воздушных камер</span> <span>4 мм</span></div>
                <div class="size"><span>Толщина стекла</span> <span>26 мм</span></div>
                <div class="size"><span>Глубина</span> <span>32 мм</span></div>
              </div>
              <div class="img_box product__img">
                <img src="./img/product-example-4.png" alt="" class="fit">
              </div>
              <div class="product__price">от 226 руб</div>
              <a href="#" class="product__link">Подробнее</a>
            </div>
            <div class="product">
              <span class="product__title title">Алютекс ALT</span>
              <div class="img_box product__img">
                <img src="./img/product-example-1.png" alt="" class="fit">
              </div>
              
              <div class="product__sizes">
                <div class="size"><span>Воздушных камер</span> <span>4 мм</span></div>
                <div class="size"><span>Толщина стекла</span> <span>26 мм</span></div>
                <div class="size"><span>Глубина</span> <span>32 мм</span></div>
              </div>
              <div class="img_box product__img">
                <img src="./img/product-example-4.png" alt="" class="fit">
              </div>
              <div class="product__price">от 226 руб</div>
              <a href="#" class="product__link">Подробнее</a>
            </div>
            <div class="product">
              <span class="product__title title">Алютекс ALT</span>
              <div class="img_box product__img">
                <img src="./img/product-example-3.png" alt="" class="fit">
              </div>
              
              <div class="product__sizes">
                <div class="size"><span>Воздушных камер</span> <span>4 мм</span></div>
                <div class="size"><span>Толщина стекла</span> <span>26 мм</span></div>
                <div class="size"><span>Глубина</span> <span>32 мм</span></div>
              </div>
              <div class="img_box product__img">
                <img src="./img/product-example-4.png" alt="" class="fit">
              </div>
              <div class="product__price">от 226 руб</div>
              <a href="#" class="product__link">Подробнее</a>
            </div>
          </div>
        </div>
      </div>
      <div class="tab_section__content_tab cold_all_tab">
        <div class="product_wrapper">
          <div class="product_slider">
            <div class="product">
              <span class="product__title title">Алютекс ALT</span>
              <div class="img_box product__img">
                <img src="./img/product-example-3.png" alt="" class="fit">
              </div>
              
              <div class="product__sizes">
                <div class="size"><span>Воздушных камер</span> <span>4 мм</span></div>
                <div class="size"><span>Толщина стекла</span> <span>26 мм</span></div>
                <div class="size"><span>Глубина</span> <span>32 мм</span></div>
              </div>
              <div class="img_box product__img">
                <img src="./img/product-example-4.png" alt="" class="fit">
              </div>
              <div class="product__price">от 226 руб</div>
              <a href="#" class="product__link">Подробнее</a>
            </div>
            <div class="product">
              <span class="product__title title">Алютекс ALT</span>
              <div class="img_box product__img">
                <img src="./img/product-example-2.png" alt="" class="fit">
              </div>
              
              <div class="product__sizes">
                <div class="size"><span>Воздушных камер</span> <span>4 мм</span></div>
                <div class="size"><span>Толщина стекла</span> <span>26 мм</span></div>
                <div class="size"><span>Глубина</span> <span>32 мм</span></div>
              </div>
              <div class="img_box product__img">
                <img src="./img/product-example-4.png" alt="" class="fit">
              </div>
              <div class="product__price">от 226 руб</div>
              <a href="#" class="product__link">Подробнее</a>
            </div>
            <div class="product">
              <span class="product__title title">Алютекс ALT</span>
              <div class="img_box product__img">
                <img src="./img/product-example-1.png" alt="" class="fit">
              </div>
              
              <div class="product__sizes">
                <div class="size"><span>Воздушных камер</span> <span>4 мм</span></div>
                <div class="size"><span>Толщина стекла</span> <span>26 мм</span></div>
                <div class="size"><span>Глубина</span> <span>32 мм</span></div>
              </div>
              <div class="img_box product__img">
                <img src="./img/product-example-4.png" alt="" class="fit">
              </div>
              <div class="product__price">от 226 руб</div>
              <a href="#" class="product__link">Подробнее</a>
            </div>
            <div class="product">
              <span class="product__title title">Алютекс ALT</span>
              <div class="img_box product__img">
                <img src="./img/product-example-3.png" alt="" class="fit">
              </div>
              
              <div class="product__sizes">
                <div class="size"><span>Воздушных камер</span> <span>4 мм</span></div>
                <div class="size"><span>Толщина стекла</span> <span>26 мм</span></div>
                <div class="size"><span>Глубина</span> <span>32 мм</span></div>
              </div>
              <div class="img_box product__img">
                <img src="./img/product-example-4.png" alt="" class="fit">
              </div>
              <div class="product__price">от 226 руб</div>
              <a href="#" class="product__link">Подробнее</a>
            </div>
          </div>
        </div>
      </div>
      <div class="tab_section__content_tab hot_all_tab">
        <div class="product_wrapper">
          <div class="product_slider">
            <div class="product">
              <span class="product__title title">Алютекс ALT</span>
              <div class="img_box product__img">
                <img src="./img/product-example-3.png" alt="" class="fit">
              </div>
              
              <div class="product__sizes">
                <div class="size"><span>Воздушных камер</span> <span>4 мм</span></div>
                <div class="size"><span>Толщина стекла</span> <span>26 мм</span></div>
                <div class="size"><span>Глубина</span> <span>32 мм</span></div>
              </div>
              <div class="img_box product__img">
                <img src="./img/product-example-4.png" alt="" class="fit">
              </div>
              <div class="product__price">от 226 руб</div>
              <a href="#" class="product__link">Подробнее</a>
            </div>
            <div class="product">
              <span class="product__title title">Алютекс ALT</span>
              <div class="img_box product__img">
                <img src="./img/product-example-2.png" alt="" class="fit">
              </div>
              
              <div class="product__sizes">
                <div class="size"><span>Воздушных камер</span> <span>4 мм</span></div>
                <div class="size"><span>Толщина стекла</span> <span>26 мм</span></div>
                <div class="size"><span>Глубина</span> <span>32 мм</span></div>
              </div>
              <div class="img_box product__img">
                <img src="./img/product-example-4.png" alt="" class="fit">
              </div>
              <div class="product__price">от 226 руб</div>
              <a href="#" class="product__link">Подробнее</a>
            </div>
            <div class="product">
              <span class="product__title title">Алютекс ALT</span>
              <div class="img_box product__img">
                <img src="./img/product-example-1.png" alt="" class="fit">
              </div>
              
              <div class="product__sizes">
                <div class="size"><span>Воздушных камер</span> <span>4 мм</span></div>
                <div class="size"><span>Толщина стекла</span> <span>26 мм</span></div>
                <div class="size"><span>Глубина</span> <span>32 мм</span></div>
              </div>
              <div class="img_box product__img">
                <img src="./img/product-example-4.png" alt="" class="fit">
              </div>
              <div class="product__price">от 226 руб</div>
              <a href="#" class="product__link">Подробнее</a>
            </div>
            <div class="product">
              <span class="product__title title">Алютекс ALT</span>
              <div class="img_box product__img">
                <img src="./img/product-example-3.png" alt="" class="fit">
              </div>
              
              <div class="product__sizes">
                <div class="size"><span>Воздушных камер</span> <span>4 мм</span></div>
                <div class="size"><span>Толщина стекла</span> <span>26 мм</span></div>
                <div class="size"><span>Глубина</span> <span>32 мм</span></div>
              </div>
              <div class="img_box product__img">
                <img src="./img/product-example-4.png" alt="" class="fit">
              </div>
              <div class="product__price">от 226 руб</div>
              <a href="#" class="product__link">Подробнее</a>
            </div>
          </div>
        </div>
      </div>
      <div class="tab_section__content_tab facade_sus_tab">
        <div class="product_wrapper">
          <div class="product_slider">
            <div class="product">
              <span class="product__title title">Алютекс ALT</span>
              <div class="img_box product__img">
                <img src="./img/product-example-3.png" alt="" class="fit">
              </div>
              
              <div class="product__sizes">
                <div class="size"><span>Воздушных камер</span> <span>4 мм</span></div>
                <div class="size"><span>Толщина стекла</span> <span>26 мм</span></div>
                <div class="size"><span>Глубина</span> <span>32 мм</span></div>
              </div>
              <div class="img_box product__img">
                <img src="./img/product-example-4.png" alt="" class="fit">
              </div>
              <div class="product__price">от 226 руб</div>
              <a href="#" class="product__link">Подробнее</a>
            </div>
            <div class="product">
              <span class="product__title title">Алютекс ALT</span>
              <div class="img_box product__img">
                <img src="./img/product-example-2.png" alt="" class="fit">
              </div>
              
              <div class="product__sizes">
                <div class="size"><span>Воздушных камер</span> <span>4 мм</span></div>
                <div class="size"><span>Толщина стекла</span> <span>26 мм</span></div>
                <div class="size"><span>Глубина</span> <span>32 мм</span></div>
              </div>
              <div class="img_box product__img">
                <img src="./img/product-example-4.png" alt="" class="fit">
              </div>
              <div class="product__price">от 226 руб</div>
              <a href="#" class="product__link">Подробнее</a>
            </div>
            <div class="product">
              <span class="product__title title">Алютекс ALT</span>
              <div class="img_box product__img">
                <img src="./img/product-example-1.png" alt="" class="fit">
              </div>
              
              <div class="product__sizes">
                <div class="size"><span>Воздушных камер</span> <span>4 мм</span></div>
                <div class="size"><span>Толщина стекла</span> <span>26 мм</span></div>
                <div class="size"><span>Глубина</span> <span>32 мм</span></div>
              </div>
              <div class="img_box product__img">
                <img src="./img/product-example-4.png" alt="" class="fit">
              </div>
              <div class="product__price">от 226 руб</div>
              <a href="#" class="product__link">Подробнее</a>
            </div>
            <div class="product">
              <span class="product__title title">Алютекс ALT</span>
              <div class="img_box product__img">
                <img src="./img/product-example-3.png" alt="" class="fit">
              </div>
              
              <div class="product__sizes">
                <div class="size"><span>Воздушных камер</span> <span>4 мм</span></div>
                <div class="size"><span>Толщина стекла</span> <span>26 мм</span></div>
                <div class="size"><span>Глубина</span> <span>32 мм</span></div>
              </div>
              <div class="img_box product__img">
                <img src="./img/product-example-4.png" alt="" class="fit">
              </div>
              <div class="product__price">от 226 руб</div>
              <a href="#" class="product__link">Подробнее</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>