<div class="advantages section">
  <div class="container">
    <div class="title_wrapper"><span class="title">преимущества</span></div>
    <div class="advantages__wrapper">
      <div class="advantages__element">
        <div class="advantages__icon">
          @@include('./assets/img/icons/sound.svg')
        </div>
        <span class="advantages__text">Хорошая шумоизоляция</span>
      </div>
      <div class="advantages__element">
        <div class="advantages__icon">
          @@include('./assets/img/icons/sheet.svg')
        </div>
        <span class="advantages__text">Экологичный материал</span>
      </div>
      <div class="advantages__element">
        <div class="advantages__icon">
          @@include('./assets/img/icons/sheeld.svg')
        </div>
        <span class="advantages__text">Надежность профиля</span>
      </div>
      <div class="advantages__element">
        <div class="advantages__icon">
          @@include('./assets/img/icons/sun.svg')
        </div>
        <span class="advantages__text">Пропускает <br>больше света</span>
      </div>
      <div class="advantages__element">
        <div class="advantages__icon">
          @@include('./assets/img/icons/cloud.svg')
        </div>
        <span class="advantages__text">Высокая теплоизодяция</span>
      </div>
      <div class="advantages__element">
        <div class="advantages__icon">
          @@include('./assets/img/icons/clock.svg')
        </div>
        <span class="advantages__text">Длительный срок эксплуатации</span>
      </div>
    </div>
  </div>
</div>