<div class="consultation_form">
  <div class="container">
    <div class="title_wrapper"><span class="title">оставьте заявку на <br>бесплатную <br>консультацию</span></div>
    <form action="#" class="consultation_form__form">
      <input type="text" placeholder="Ваше имя">
      <input type="text" placeholder="Телефон">
      <p class="consultation_form__text">Нажимая “Отправить” вы соглашаетесь с политикой конфиденциальности</p>
      <button type="submit"  class="btn btn--revers">отправить</button>
    </form>
  </div>
</div>