<div class="examples">
  <div class="title_wrapper"><span class="title">дома, где уже стоят наши окна! </span></div>
  <div class="examples__wrapper">
    <div class="examples__slider">
      <div class="img_box">
        <img src="./img/dom.png" alt="" class="fit">
      </div>
      <div class="img_box">
        <img src="./img/dom.png" alt="" class="fit">
      </div>
      <div class="img_box">
        <img src="./img/dom.png" alt="" class="fit">
      </div>
    </div>
    <div class="examples__statistic">
      <div class="stat">
        <span class="count">1200</span>
        <span class="text">довольных клиентов</span>
      </div>
      <div class="stat">
        <span class="count">87</span>
        <span class="text">производителей окон</span>
      </div>
      <div class="stat">
        <span class="count">3400</span>
        <span class="text">окон установлено</span>
      </div>
      <div class="stat">
        <span class="count">95%</span>
        <span class="text"> рекомендуют нас</span>
      </div>
    </div>
  </div>
</div>