<div class="froze_form">
    <div class="container">
      <div class="froze_form__wrapper">
        <div class="title_wrapper"><span class="title">закажите бесплатный замер</span></div>
        <form action="#" class="froze_form__form">
          <input type="text" placeholder="Ваше имя">
          <input type="text" placeholder="Телефон">
          <button type="submit"  class="btn btn--revers">отправить</button>
          <p class="froze_form__text">Нажимая “Отправить” вы соглашаетесь с политикой конфиденциальности</p>
        </form>
      </div>
    </div>
</div>