<div class="glazing">
  <div class="title_wrapper"><span class="title">остекление для разного типа жилья</span></div>
  <div class="glazing__wrapper">
    <div class="glazing__element">
      <div class="img_box">
        <img src="./img/osteklenie-1.png" alt="" class="fit">
      </div>
      <a href="#" class="glazing__link">остекление веранды и террасы</a>
    </div>
    <div class="glazing__element">
      <div class="img_box">
        <img src="./img/osteklenie-2.png" alt="" class="fit">
      </div>
      <a href="#" class="glazing__link">остекление ДАЧ И КОТТЕДЖЕЙ</a>
    </div>
    <div class="glazing__element">
      <div class="img_box">
        <img src="./img/osteklenie-3.png" alt="" class="fit">
      </div>
      <a href="#" class="glazing__link">ОСТЕКЛЕНИЕ БАЛКОНОВ И ЛОДЖИЙ</a>
    </div>
    <div class="glazing__element">
      <div class="img_box">
        <img src="./img/osteklenie-4.png" alt="" class="fit">
      </div>
      <a href="#" class="glazing__link">ПЛАСТИКОВЫЕ ОКНА для квартиры</a>
    </div>
    <div class="glazing__element">
      <div class="img_box">
        <img src="./img/osteklenie-2.png" alt="" class="fit">
      </div>
      <a href="#" class="glazing__link">остекление ДАЧ И КОТТЕДЖЕЙ</a>
    </div>
    <div class="glazing__element">
      <div class="img_box">
        <img src="./img/osteklenie-1.png" alt="" class="fit">
      </div>
      <a href="#" class="glazing__link">остекление веранды и террасы</a>
    </div>
  </div>
</div>