<div class="links_section">
  <div class="links_section__wrapper">
    <a href="#" class="links_section__element">
      <img src="./img/icons/froze-blue.svg" class="icon">
      <span class="text">Вызов замерщика</span>
    </a>
    <a href="#" class="links_section__element">
      <img src="./img/icons/calc.svg" class="icon">
      <span class="text">Калькулятор</span>
    </a>
    <a href="#" class="links_section__element">
      <img src="./img/icons/present.svg" class="icon">
      <span class="text">Скидки и акции</span>
    </a>
    <a href="#" class="links_section__element">
      <img src="./img/icons/contacts.svg" class="icon">
      <span class="text">Контакты</span>
    </a>
  </div>
</div>