<div class="products">
  <div class="tab_section tab_section--products">
    <div class="tab_section__tab_container">
      <div class="tab_section__tab active" data-tab="blitz">Blitz</div>
      <div class="tab_section__tab" data-tab="thermo">Thermo</div>
      <div class="tab_section__tab" data-tab="grazio">Grazio</div>
      <div class="tab_section__tab" data-tab="design">Delight Design</div>
      <div class="tab_section__tab" data-tab="decor">Delight Decor</div>
      <div class="tab_section__tab" data-tab="brilliant">Brilliant</div>
      <div class="tab_section__tab" data-tab="intelio">Intelio 80</div>
    </div>

    <div class="tab_section__content">
      <div class="tab_section__content_tab blitz_tab active">
        <div class="product_wrapper">
          <div class="product_slider">
            <div class="product">
              <span class="product__title title">Двухстворчатое окно</span>
              <div class="img_box product__img">
                <img src="./img/window-1.png" alt="">
              </div>
              <div class="product__price">от 226 руб</div>
              <div class="product__sizes">
                <div class="size"><span>Воздушных камер</span> <span>4 мм</span></div>
                <div class="size"><span>Толщина стекла</span> <span>26 мм</span></div>
                <div class="size"><span>Глубина</span> <span>32 мм</span></div>
              </div>

              <a href="#" class="product__link">Подробнее</a>
            </div>

            <div class="product">
              <span class="product__title title">Двухстворчатое окно</span>
              <div class="img_box product__img">
                <img src="./img/window-2.png" alt="" >
              </div>
              <div class="product__price">от 226 руб</div>
              
              <div class="product__sizes">
                <div class="size"><span>Воздушных камер</span> <span>4 мм</span></div>
                <div class="size"><span>Толщина стекла</span> <span>26 мм</span></div>
                <div class="size"><span>Глубина</span> <span>32 мм</span></div>
              </div>

              <a href="#" class="product__link">Подробнее</a>
            </div>

            <div class="product">
              <span class="product__title title">Двухстворчатое окно</span>
              <div class="img_box product__img">
                <img src="./img/window-3.png" alt="" >
              </div>
              <div class="product__price">от 226 руб</div>
              
              <div class="product__sizes">
                <div class="size"><span>Воздушных камер</span> <span>4 мм</span></div>
                <div class="size"><span>Толщина стекла</span> <span>26 мм</span></div>
                <div class="size"><span>Глубина</span> <span>32 мм</span></div>
              </div>

              <a href="#" class="product__link">Подробнее</a>
            </div>

            <div class="product">
              <span class="product__title title">Двухстворчатое окно</span>
              <div class="img_box product__img">
                <img src="./img/window-1.png" alt="" >
              </div>
              <div class="product__price">от 226 руб</div>
              
              <div class="product__sizes">
                <div class="size"><span>Воздушных камер</span> <span>4 мм</span></div>
                <div class="size"><span>Толщина стекла</span> <span>26 мм</span></div>
                <div class="size"><span>Глубина</span> <span>32 мм</span></div>
              </div>

              <a href="#" class="product__link">Подробнее</a>
            </div>
          </div>
        </div>
      </div>
      <div class="tab_section__content_tab thermo_tab">
        <div class="product_wrapper">
          <div class="product_slider">
            <div class="product">
              <span class="product__title title">Двухстворчатое окно</span>
              <div class="img_box product__img">
                <img src="./img/window-2.png" alt="" >
              </div>
              <div class="product__price">от 226 руб</div>
              
              <div class="product__sizes">
                <div class="size"><span>Воздушных камер</span> <span>4 мм</span></div>
                <div class="size"><span>Толщина стекла</span> <span>26 мм</span></div>
                <div class="size"><span>Глубина</span> <span>32 мм</span></div>
              </div>

              <a href="#" class="product__link">Подробнее</a>
            </div>

            <div class="product">
              <span class="product__title title">Двухстворчатое окно</span>
              <div class="img_box product__img">
                <img src="./img/window-3.png" alt="" >
              </div>
              <div class="product__price">от 226 руб</div>
              
              <div class="product__sizes">
                <div class="size"><span>Воздушных камер</span> <span>4 мм</span></div>
                <div class="size"><span>Толщина стекла</span> <span>26 мм</span></div>
                <div class="size"><span>Глубина</span> <span>32 мм</span></div>
              </div>

              <a href="#" class="product__link">Подробнее</a>
            </div>

            <div class="product">
              <span class="product__title title">Двухстворчатое окно</span>
              <div class="img_box product__img">
                <img src="./img/window-1.png" alt="" >
              </div>
              <div class="product__price">от 226 руб</div>
              
              <div class="product__sizes">
                <div class="size"><span>Воздушных камер</span> <span>4 мм</span></div>
                <div class="size"><span>Толщина стекла</span> <span>26 мм</span></div>
                <div class="size"><span>Глубина</span> <span>32 мм</span></div>
              </div>

              <a href="#" class="product__link">Подробнее</a>
            </div>

            <div class="product">
              <span class="product__title title">Двухстворчатое окно</span>
              <div class="img_box product__img">
                <img src="./img/window-1.png" alt="" >
              </div>
              <div class="product__price">от 226 руб</div>
              
              <div class="product__sizes">
                <div class="size"><span>Воздушных камер</span> <span>4 мм</span></div>
                <div class="size"><span>Толщина стекла</span> <span>26 мм</span></div>
                <div class="size"><span>Глубина</span> <span>32 мм</span></div>
              </div>

              <a href="#" class="product__link">Подробнее</a>
            </div>
          </div>
        </div>
      </div>
      <div class="tab_section__content_tab grazio_tab">
        <div class="product_wrapper">
          <div class="product_slider">
            <div class="product">
              <span class="product__title title">Двухстворчатое окно</span>
              <div class="img_box product__img">
                <img src="./img/window-2.png" alt="" >
              </div>
              <div class="product__price">от 226 руб</div>
              
              <div class="product__sizes">
                <div class="size"><span>Воздушных камер</span> <span>4 мм</span></div>
                <div class="size"><span>Толщина стекла</span> <span>26 мм</span></div>
                <div class="size"><span>Глубина</span> <span>32 мм</span></div>
              </div>

              <a href="#" class="product__link">Подробнее</a>
            </div>

            <div class="product">
              <span class="product__title title">Двухстворчатое окно</span>
              <div class="img_box product__img">
                <img src="./img/window-3.png" alt="" >
              </div>
              <div class="product__price">от 226 руб</div>
              
              <div class="product__sizes">
                <div class="size"><span>Воздушных камер</span> <span>4 мм</span></div>
                <div class="size"><span>Толщина стекла</span> <span>26 мм</span></div>
                <div class="size"><span>Глубина</span> <span>32 мм</span></div>
              </div>

              <a href="#" class="product__link">Подробнее</a>
            </div>

            <div class="product">
              <span class="product__title title">Двухстворчатое окно</span>
              <div class="img_box product__img">
                <img src="./img/window-1.png" alt="" >
              </div>
              <div class="product__price">от 226 руб</div>
              
              <div class="product__sizes">
                <div class="size"><span>Воздушных камер</span> <span>4 мм</span></div>
                <div class="size"><span>Толщина стекла</span> <span>26 мм</span></div>
                <div class="size"><span>Глубина</span> <span>32 мм</span></div>
              </div>

              <a href="#" class="product__link">Подробнее</a>
            </div
            >
            <div class="product">
              <span class="product__title title">Двухстворчатое окно</span>
              <div class="img_box product__img">
                <img src="./img/window-2.png" alt="" >
              </div>
              <div class="product__price">от 226 руб</div>
              
              <div class="product__sizes">
                <div class="size"><span>Воздушных камер</span> <span>4 мм</span></div>
                <div class="size"><span>Толщина стекла</span> <span>26 мм</span></div>
                <div class="size"><span>Глубина</span> <span>32 мм</span></div>
              </div>

              <a href="#" class="product__link">Подробнее</a>
            </div>
          </div>
        </div>
      </div>
      <div class="tab_section__content_tab design_tab">
        <div class="product_wrapper">
          <div class="product_slider">
            <div class="product">
              <span class="product__title title">Двухстворчатое окно</span>
              <div class="img_box product__img">
                <img src="./img/window-3.png" alt="" >
              </div>
              <div class="product__price">от 226 руб</div>
              
              <div class="product__sizes">
                <div class="size"><span>Воздушных камер</span> <span>4 мм</span></div>
                <div class="size"><span>Толщина стекла</span> <span>26 мм</span></div>
                <div class="size"><span>Глубина</span> <span>32 мм</span></div>
              </div>

              <a href="#" class="product__link">Подробнее</a>
            </div>

            <div class="product">
              <span class="product__title title">Двухстворчатое окно</span>
              <div class="img_box product__img">
                <img src="./img/window-1.png" alt="" >
              </div>
              <div class="product__price">от 226 руб</div>
              
              <div class="product__sizes">
                <div class="size"><span>Воздушных камер</span> <span>4 мм</span></div>
                <div class="size"><span>Толщина стекла</span> <span>26 мм</span></div>
                <div class="size"><span>Глубина</span> <span>32 мм</span></div>
              </div>

              <a href="#" class="product__link">Подробнее</a>
            </div>

            <div class="product">
              <span class="product__title title">Двухстворчатое окно</span>
              <div class="img_box product__img">
                <img src="./img/window-2.png" alt="" >
              </div>
              <div class="product__price">от 226 руб</div>
              
              <div class="product__sizes">
                <div class="size"><span>Воздушных камер</span> <span>4 мм</span></div>
                <div class="size"><span>Толщина стекла</span> <span>26 мм</span></div>
                <div class="size"><span>Глубина</span> <span>32 мм</span></div>
              </div>

              <a href="#" class="product__link">Подробнее</a>
            </div>

            <div class="product">
              <span class="product__title title">Двухстворчатое окно</span>
              <div class="img_box product__img">
                <img src="./img/window-3.png" alt="" >
              </div>
              <div class="product__price">от 226 руб</div>
              
              <div class="product__sizes">
                <div class="size"><span>Воздушных камер</span> <span>4 мм</span></div>
                <div class="size"><span>Толщина стекла</span> <span>26 мм</span></div>
                <div class="size"><span>Глубина</span> <span>32 мм</span></div>
              </div>

              <a href="#" class="product__link">Подробнее</a>
            </div>
          </div>
        </div>
      </div>

      <div class="tab_section__content_tab decor_tab">
        <div class="product_wrapper">
          <div class="product_slider">
            <div class="product">
              <span class="product__title title">Двухстворчатое окно</span>
              <div class="img_box product__img">
                <img src="./img/window-3.png" alt="" >
              </div>
              <div class="product__price">от 226 руб</div>
              
              <div class="product__sizes">
                <div class="size"><span>Воздушных камер</span> <span>4 мм</span></div>
                <div class="size"><span>Толщина стекла</span> <span>26 мм</span></div>
                <div class="size"><span>Глубина</span> <span>32 мм</span></div>
              </div>

              <a href="#" class="product__link">Подробнее</a>
            </div>

            <div class="product">
              <span class="product__title title">Двухстворчатое окно</span>
              <div class="img_box product__img">
                <img src="./img/window-1.png" alt="" >
              </div>
              <div class="product__price">от 226 руб</div>
              
              <div class="product__sizes">
                <div class="size"><span>Воздушных камер</span> <span>4 мм</span></div>
                <div class="size"><span>Толщина стекла</span> <span>26 мм</span></div>
                <div class="size"><span>Глубина</span> <span>32 мм</span></div>
              </div>

              <a href="#" class="product__link">Подробнее</a>
            </div>

            <div class="product">
              <span class="product__title title">Двухстворчатое окно</span>
              <div class="img_box product__img">
                <img src="./img/window-2.png" alt="" >
              </div>
              <div class="product__price">от 226 руб</div>
              
              <div class="product__sizes">
                <div class="size"><span>Воздушных камер</span> <span>4 мм</span></div>
                <div class="size"><span>Толщина стекла</span> <span>26 мм</span></div>
                <div class="size"><span>Глубина</span> <span>32 мм</span></div>
              </div>

              <a href="#" class="product__link">Подробнее</a>
            </div>

            <div class="product">
              <span class="product__title title">Двухстворчатое окно</span>
              <div class="img_box product__img">
                <img src="./img/window-3.png" alt="" >
              </div>
              <div class="product__price">от 226 руб</div>
              
              <div class="product__sizes">
                <div class="size"><span>Воздушных камер</span> <span>4 мм</span></div>
                <div class="size"><span>Толщина стекла</span> <span>26 мм</span></div>
                <div class="size"><span>Глубина</span> <span>32 мм</span></div>
              </div>

              <a href="#" class="product__link">Подробнее</a>
            </div>
          </div>
        </div>
      </div>
      <div class="tab_section__content_tab brilliant_tab">
        <div class="product_wrapper">
          <div class="product_slider">
            <div class="product">
              <span class="product__title title">Двухстворчатое окно</span>
              <div class="img_box product__img">
                <img src="./img/window-3.png" alt="" >
              </div>
              <div class="product__price">от 226 руб</div>
              
              <div class="product__sizes">
                <div class="size"><span>Воздушных камер</span> <span>4 мм</span></div>
                <div class="size"><span>Толщина стекла</span> <span>26 мм</span></div>
                <div class="size"><span>Глубина</span> <span>32 мм</span></div>
              </div>

              <a href="#" class="product__link">Подробнее</a>
            </div>

            <div class="product">
              <span class="product__title title">Двухстворчатое окно</span>
              <div class="img_box product__img">
                <img src="./img/window-1.png" alt="" >
              </div>
              <div class="product__price">от 226 руб</div>
              
              <div class="product__sizes">
                <div class="size"><span>Воздушных камер</span> <span>4 мм</span></div>
                <div class="size"><span>Толщина стекла</span> <span>26 мм</span></div>
                <div class="size"><span>Глубина</span> <span>32 мм</span></div>
              </div>

              <a href="#" class="product__link">Подробнее</a>
            </div>

            <div class="product">
              <span class="product__title title">Двухстворчатое окно</span>
              <div class="img_box product__img">
                <img src="./img/window-2.png" alt="" >
              </div>
              <div class="product__price">от 226 руб</div>
              
              <div class="product__sizes">
                <div class="size"><span>Воздушных камер</span> <span>4 мм</span></div>
                <div class="size"><span>Толщина стекла</span> <span>26 мм</span></div>
                <div class="size"><span>Глубина</span> <span>32 мм</span></div>
              </div>

              <a href="#" class="product__link">Подробнее</a>
            </div>

            <div class="product">
              <span class="product__title title">Двухстворчатое окно</span>
              <div class="img_box product__img">
                <img src="./img/window-3.png" alt="" >
              </div>
              <div class="product__price">от 226 руб</div>
              
              <div class="product__sizes">
                <div class="size"><span>Воздушных камер</span> <span>4 мм</span></div>
                <div class="size"><span>Толщина стекла</span> <span>26 мм</span></div>
                <div class="size"><span>Глубина</span> <span>32 мм</span></div>
              </div>

              <a href="#" class="product__link">Подробнее</a>
            </div>
          </div>
        </div>
      </div>
      <div class="tab_section__content_tab intelio_tab">
        <div class="product_wrapper">
          <div class="product_slider">
            <div class="product">
              <span class="product__title title">Двухстворчатое окно</span>
              <div class="img_box product__img">
                <img src="./img/window-3.png" alt="" >
              </div>
              <div class="product__price">от 226 руб</div>
              
              <div class="product__sizes">
                <div class="size"><span>Воздушных камер</span> <span>4 мм</span></div>
                <div class="size"><span>Толщина стекла</span> <span>26 мм</span></div>
                <div class="size"><span>Глубина</span> <span>32 мм</span></div>
              </div>

              <a href="#" class="product__link">Подробнее</a>
            </div>

            <div class="product">
              <span class="product__title title">Двухстворчатое окно</span>
              <div class="img_box product__img">
                <img src="./img/window-1.png" alt="" >
              </div>
              <div class="product__price">от 226 руб</div>
              
              <div class="product__sizes">
                <div class="size"><span>Воздушных камер</span> <span>4 мм</span></div>
                <div class="size"><span>Толщина стекла</span> <span>26 мм</span></div>
                <div class="size"><span>Глубина</span> <span>32 мм</span></div>
              </div>

              <a href="#" class="product__link">Подробнее</a>
            </div>

            <div class="product">
              <span class="product__title title">Двухстворчатое окно</span>
              <div class="img_box product__img">
                <img src="./img/window-2.png" alt="" >
              </div>
              <div class="product__price">от 226 руб</div>
              
              <div class="product__sizes">
                <div class="size"><span>Воздушных камер</span> <span>4 мм</span></div>
                <div class="size"><span>Толщина стекла</span> <span>26 мм</span></div>
                <div class="size"><span>Глубина</span> <span>32 мм</span></div>
              </div>

              <a href="#" class="product__link">Подробнее</a>
            </div>

            <div class="product">
              <span class="product__title title">Двухстворчатое окно</span>
              <div class="img_box product__img">
                <img src="./img/window-3.png" alt="" >
              </div>
              <div class="product__price">от 226 руб</div>
              
              <div class="product__sizes">
                <div class="size"><span>Воздушных камер</span> <span>4 мм</span></div>
                <div class="size"><span>Толщина стекла</span> <span>26 мм</span></div>
                <div class="size"><span>Глубина</span> <span>32 мм</span></div>
              </div>

              <a href="#" class="product__link">Подробнее</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>