<div class="reviews">
  <div class="title_wrapper"><span class="title">отзывы наших клиентов</span></div>
  <div class="reviews__wrapper">
    <div class="reviews__element">
      <div class="top">
        <span class="name">Татьяна </span>
        <span class="info">18.06.2017 Подольск</span>
      </div>
      <div class="text">Доброе время суток. С помощью "Подольский оконный завод" поменяла оконный и дверные блоки (договор Е0662 от 20.05.17). Я хочу выразить благодарность сотрудникам компании: менеджеру Харламову Александру, замерщику Солянникову и монтажникам двум Николаям за их высокий профессионализм и человечность. </div>
    </div>
    <div class="reviews__element">
      <div class="top">
        <span class="name">Татьяна </span>
        <span class="info">18.06.2017 Подольск</span>
      </div>
      <div class="text">Доброе время суток. С помощью "Подольский оконный завод" поменяла оконный и дверные блоки (договор Е0662 от 20.05.17). Я хочу выразить благодарность сотрудникам компании: менеджеру Харламову Александру, замерщику Солянникову и монтажникам двум Николаям за их высокий профессионализм и человечность. </div>
    </div>
    <div class="reviews__element">
      <div class="top">
        <span class="name">Татьяна </span>
        <span class="info">18.06.2017 Подольск</span>
      </div>
      <div class="text">Доброе время суток. С помощью "Подольский оконный завод" поменяла оконный и дверные блоки (договор Е0662 от 20.05.17). Я хочу выразить благодарность сотрудникам компании: менеджеру Харламову Александру, замерщику Солянникову и монтажникам двум Николаям за их высокий профессионализм и человечность. </div>
    </div>
    <div class="reviews__element">
      <div class="top">
        <span class="name">Татьяна </span>
        <span class="info">18.06.2017 Подольск</span>
      </div>
      <div class="text">Доброе время суток. С помощью "Подольский оконный завод" поменяла оконный и дверные блоки (договор Е0662 от 20.05.17). Я хочу выразить благодарность сотрудникам компании: менеджеру Харламову Александру, замерщику Солянникову и монтажникам двум Николаям за их высокий профессионализм и человечность. </div>
    </div>
  </div>
</div>