<div class="use_section">
  <div class="use_section__wrapper">
    <div class="use_section__element">
      <div class="img_box">
        <img src="./img/use-1.png" alt="" class="fit">
      </div>
      <div class="description">
        <span class="description_title">Алюминиевые окна в коттедж</span>
        <p class="text">Большие алюминиевые окна идеально подходят для остекления загородных домов и коттеджей</p>
      </div>
    </div>
    <div class="use_section__element">
      <div class="img_box">
        <img src="./img/use-2.png" alt="" class="fit">
      </div>
      <div class="description">
        <span class="description_title">Алюминиевые окна в коттедж</span>
        <p class="text">Большие алюминиевые окна идеально подходят для остекления загородных домов и коттеджей</p>
      </div>
    </div>
    <div class="use_section__element">
      <div class="img_box">
        <img src="./img/use-3.png" alt="" class="fit">
      </div>
      <div class="description">
        <span class="description_title">Алюминиевые окна в коттедж</span>
        <p class="text">Большие алюминиевые окна идеально подходят для остекления загородных домов и коттеджей</p>
      </div>
    </div>
    <div class="use_section__element">
      <div class="img_box">
        <img src="./img/use-3.png" alt="" class="fit">
      </div>
      <div class="description">
        <span class="description_title">Алюминиевые окна в коттедж</span>
        <p class="text">Большие алюминиевые окна идеально подходят для остекления загородных домов и коттеджей</p>
      </div>
    </div>
  </div>
</div>