// colors
$mainBlue:    #1C3F97;
$lightBlue:    #2DB1E6;


// font size
$normal_fs:     14px;
$large_fs:      24px;

// margins
$sectionMargin: 100px;
$sectionMarginMobile: 50px;

// breakpoints
$xs: 450px;
$sm: 576px;
$md: 768px;
$fa: 800px;
$lg: 992px;
$xl: 1200px;

// shadow
$baseShadow: 0 10px 30px rgba(7, 17, 55, 0.08);
$violetShadow: 0 10px 30px rgba(103, 31, 129, 0.2);



